/* Mobile-first Design */

* {
}

body {
  @font-face {
    font-family: 'neodgm';
    src: url('../../fonts/neodgm.woff') format('woff');
  }
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

/*
PC 반응형 디자인은 차후 media query로 조절
@media all and (max-width: 500px);
*/
