@font-face {
  font-family: 'neodgm';
  src: url('../../../fonts/neodgm_code.ttf');
}

.gnb_container {
  background-color: #ffffff;
  height: 75px;
  padding-top: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 20;
  border-bottom: 2px solid #e9e8e2;
  margin-left: auto;
  margin-right: auto;
}

.right_container {
  width: 40%;
  height: 100%;
  float: right;
  border: 3px solid #a29bfe;
  border-radius: 10px;
}
.coin_img {
  padding: 5px;
  margin-top: 15px;
}

.left_container {
  float: left;
}

.logo {
  display: block;
  width: 134px;
  height: 70px;
  object-fit: cover;
}

.wallet {
  float: right;
  padding: 20px 20px 20px 0px;
  font-size: 20px;
  font-family: 'neodgm';
}
