@font-face {
  font-family: light_p_7;
  src: url(../fonts/light_pixel-7.ttf);
}

@font-face {
  font-family: sb_pixel_7;
  src: url(../fonts/small_bold_pixel-7.ttf);
}

@font-face {
  font-family: backto_1982;
  src: url(../fonts/BACKTO1982.TTF);
}

@font-face {
  font-family: mini_pixel_7;
  src: url(../fonts/mini_pixel-7.ttf);
}

#product-info {
  max-width: 310px;
  height: auto;
  font-family: sb_pixel_7;
  border: 0.3rem solid;
  border-radius: 0.5rem;
  border-color: #14a1d9;
}

#product-brand {
  margin: none;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  align-content: center;
}
