@font-face {
  font-family: light_p_7;
  src: url(../fonts/light_pixel-7.ttf);
}

@font-face {
  font-family: sb_pixel_7;
  src: url(../fonts/small_bold_pixel-7.ttf);
}

@font-face {
  font-family: backto_1982;
  src: url(../fonts/BACKTO1982.TTF);
}

@font-face {
  font-family: mini_pixel_7;
  src: url(../fonts/mini_pixel-7.ttf);
}

@font-face {
  font-family: light_p_7;
  src: url(../fonts/light_pixel-7.ttf);
}

@font-face {
  font-family: sb_pixel_7;
  src: url(../fonts/small_bold_pixel-7.ttf);
}

.timegram-list-category-btn {
  font-family: sb_pixel_7;
  font-size: 27px;
  color: #187fd9;
}

.timegram-list-category-btn:hover {
  color: tomato;
  font-weight: 400;
}

.timegram-list-timegram-btn {
  font-family: sb_pixel_7;
  font-size: 27px;
  color: #14a1d9;
}





.btn_like {
  margin: 100px auto;
  display: block;
  width: 180px;
  height: 38px;
  border: 1px solid #e8e8e8;
  border-radius: 38px;
  font-family: notokr-bold, sans-serif;
  font-size: 14px;
  line-height: 13px;
  background-color: #fff;
  color: #dd5d54;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
  transition: border 0.2s ease-out, box-shadow 0.1s ease-out,
    background-color 0.4s ease-out;
  cursor: pointer;
}

.btn_like:hover {
  border: 1px solid rgba(228, 89, 89, 0.3);
  background-color: rgba(228, 89, 89, 0.02);
  box-shadow: 0 2px 4px 0 rgba(228, 89, 89, 0.2);
}

.btn_unlike .img_emoti {
  background-position: -30px -120px;
}

.img_emoti {
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  background: url(https://mk.kakaocdn.net/dn/emoticon/static/images/webstore/img_emoti.png?v=20180410)
    no-repeat;
  text-indent: -9999px;
  vertical-align: top;
  width: 20px;
  height: 17px;
  margin-top: 1px;
  background-position: 0px -120px;
  text-indent: 0;
}

.btn_like {
  margin: 15px 0 50px 0;
  width: 100%;
}

@keyframes on_m {
  from {
    background-position: 0;
  }
  to {
    background-position: -9000px;
  }
}

@keyframes off_m {
  from {
    background-position: 0;
  }
  to {
    background-position: -8250px;
  }
}

.timegram_title span {
  color: #5b5752;
  line-height: 1.67;
  font-size: 20px;
  font-family: 'neodgm';
}

.like_span {
  vertical-align: text-bottom;
  margin-top: 10px;
  font-size: 18px;
  font-family: 'neodgm';
  color: rgb(235, 98, 98);
}

.floatR {
  float: right;
}

.dropdown-btn {
  border-radius: 0.2rem;
  font-family: sb_pixel_7;
}

.product-list-category-btn {
  font-family: sb_pixel_7;
  font-size: 27px;
  color: #187fd9;
}

.product-list-category-btn:hover {
  color: tomato;
  font-weight: 400;
}

.product-list-timegram-btn {
  font-family: sb_pixel_7;
  font-size: 27px;
  color: #14a1d9;
}

.product-list-card {
  display: flex;
  flex-direction: column;
  width: calc(50% - 16px);
  height: auto;
  border: 0.2rem solid;
  border-radius: 0.5rem;
  border-color: #187fd9;
  padding: 3px;
}

.product-list-card-img {
  padding: 10px;
  max-width: 100%;
  height: auto;
}

.product-list-card-p_price {
  display: inline-flex;
  padding: 2px;
  font-family: light_p_7;
  font-size: 12px;
}

.product-list-card-p_price-coin {
  display: inline-flex;
  width: 15px;
  height: auto;
  margin-left: 0.5rem;
  margin-right: 0.3rem;
  margin-bottom: 0.2rem;
}

.product-list-card-p_name {
  margin: 0.5rem;
  font-family: light_p_7;
  font-size: 10px;
  color: #14a1d9;
  display: inline-block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-list-card-icon {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.4rem;
  margin-bottom: 0.2rem;
  padding: 0.2rem;
  width: 20%;
  background-color: #14a1d9;
  border-radius: 5rem;
}

/* 드랍다운 */
.btn {
  color: white !important;
  background-color: #187fd9 !important;
  font-size: large !important;
}

.dropdown-btn {
  border-radius: 0.2rem;
  font-family: sb_pixel_7;
}
